.card {
  max-width: 500px;
  margin: auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.flight-form {
  display: flex;
  flex-direction: column;
}

.flight-form input,
.flight-form select {
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.flight-form button {
  background-color: #27ae60;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

.flight-form button:hover {
  background-color: #219150;
}
